<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="robot_ros2_control" params="name cmd_interface">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>

      <joint name="joint1">
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>

        <xacro:if value="${cmd_interface == 'position'}">
          <command_interface name="position" />
        </xacro:if>
        <xacro:if value="${cmd_interface == 'velocity'}">
          <command_interface name="velocity" />
        </xacro:if>
      </joint>

      <joint name="joint3">
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>

        <xacro:if value="${cmd_interface == 'position'}">
          <command_interface name="position" />
        </xacro:if>
        <xacro:if value="${cmd_interface == 'velocity'}">
          <command_interface name="velocity" />
        </xacro:if>
      </joint>

      <joint name="joint5">
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>

        <xacro:if value="${cmd_interface == 'position'}">
          <command_interface name="position" />
        </xacro:if>
        <xacro:if value="${cmd_interface == 'velocity'}">
          <command_interface name="velocity" />
        </xacro:if>
      </joint>

      <joint name="joint6">
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>

        <xacro:if value="${cmd_interface == 'position'}">
          <command_interface name="position" />
        </xacro:if>
        <xacro:if value="${cmd_interface == 'velocity'}">
          <command_interface name="velocity" />
        </xacro:if>
      </joint>

      <joint name="joint7">
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        
        <xacro:if value="${cmd_interface == 'position'}">
          <command_interface name="position" />
        </xacro:if>
        <xacro:if value="${cmd_interface == 'velocity'}">
          <command_interface name="velocity" />
        </xacro:if>
      </joint>

      <joint name="joint8">
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>

        <xacro:if value="${cmd_interface == 'position'}">
          <command_interface name="position" />
        </xacro:if>
        <xacro:if value="${cmd_interface == 'velocity'}">
          <command_interface name="velocity" />
        </xacro:if>
      </joint>

      <joint name="joint9">
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        
        <xacro:if value="${cmd_interface == 'position'}">
          <command_interface name="position" />
        </xacro:if>
        <xacro:if value="${cmd_interface == 'velocity'}">
          <command_interface name="velocity" />
        </xacro:if>
      </joint>

    </ros2_control>
  </xacro:macro>

</robot>